<div class="row pictures-container">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12" *ngFor  = "let picture of pictures">
        <div class="hovereffect">
          <img class="img-responsive" [src]="picture.url" alt="">
          <div class="overlay">
            <!-- <h2>Hover effect 3</h2> -->
            <a class="info" href="#">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf = "!finished" >
      <div class="col-md-12">
        <app-loader></app-loader>
      </div>
    </div>

    <div class="row" *ngIf = "pictures.length === 0" >
      <div class="col-md-12">
        No results found
      </div>
    </div>

  </div>
</div>

<div

    infiniteScroll
    [infiniteScrollDistance] = "2"
    [infiniteScrollThrottle]="1000"
    (scrolled) = "onScroll()">

</div>

<!-- <loading-spinner *ngIf = "!finished" ></loading-spinner> -->

<div *ngIf = "finished">
  <hr>
</div>
